body {
    background-color: mediumpurple;
}
section {
    margin: 50px;
}
h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
table {
    width: 100%;
}
.table_header {
border-bottom: 1px solid lightgray;
}
th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
td {
    padding: 15px;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px lightgray;
    cursor: pointer;
    box-sizing: border-box;
}
td:hover {
    color : darkblue;
}
button {
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(90, 8, 86);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}